name: Delete 30 days overdue releases and workflows runs

on:
  # run it manually
  workflow_dispatch:    
  schedule:
    - cron: "14 15 14 * *"  

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Delete releases and workflows runs
      uses: ophub/delete-releases-workflows@main
      with:
        delete_releases: false
        releases_keep_latest: 30
        delete_workflows: true
        workflows_keep_day: 30
        gh_token: ${{ secrets.GITHUB_TOKEN }}
